{% extends 'catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ title }}</h1>
</div>

<div class="row text-center">
  <div class="col">
    {% for object in object_list %}
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{ object }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ object.price }}<small class="text-muted fw-light"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ object.info }}</li>

        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Оформить подписку</button>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}